__pycache__/
*.py[cod]
.python_history
*.sqlite3
.env
venv/
env/
.pytest_cache/
staticfiles/
media/*
!media/.gitkeep
protected_media/
.DS_Store
*.log
.vscode/
.idea/
.verification/
.verification-schema.yml
